<div class="main-content">
    <div class="container-contact pe-4 ps-xl-5 ps-md-5 mt-5">
        <div class="contact-pic" data-tilt>
            <img src="assets/images/contact.png" alt="IMG">
        </div>
        <form [formGroup]="emailForm" class="contact-form validate-form" (ngSubmit)="onSubmit()">
            <span class="contact-form-title mt-5 fw-bold">
                Get in touch
            </span>
            <div class="wrap-input validate-input">
                <input class="input" type="text" placeholder="Name" formControlName="name">
                <span class="shadow-input"></span>
                <div *ngIf="name!.invalid && (name!.dirty || name!.touched || emailFormSubmitted)"
                    class="fs-6 text-danger ps-4">
                    <div *ngIf="name!.errors?.['required']">Name is required.</div>
                    <div *ngIf="name!.errors?.['minlength']">
                        Name must be at least 3 characters long.
                    </div>
                    <div *ngIf="name!.errors?.['maxlength']">
                        Name must be at least 50 characters long.
                    </div>
                </div>
            </div>
            <div class="wrap-input validate-input">
                <input class="input" type="text" placeholder="Email" formControlName="email">
                <span class="shadow-input"></span>
                <div *ngIf="email!.invalid && (email!.dirty || email!.touched || emailFormSubmitted)"
                    class="fs-6 text-danger ps-4">
                    <div *ngIf="email!.errors?.['required']">Email is required.</div>
                    <div *ngIf="email!.errors?.['email']">
                        Email has invalid format
                    </div>
                </div>
            </div>
            <div class="wrap-input validate-input">
                <input class="input" type="text" placeholder="Subject" formControlName="subject">
                <span class="shadow-input"></span>
                <div *ngIf="subject!.invalid && (subject!.dirty || subject!.touched|| emailFormSubmitted)"
                    class="fs-6 text-danger ps-4">
                    <div *ngIf="subject!.errors?.['required']">Name is required.</div>
                    <div *ngIf="subject!.errors?.['minlength']">
                        Subject must be at least 3 characters long.
                    </div>
                    <div *ngIf="subject!.errors?.['maxlength']">
                        Subject must be at least 50 characters long.
                    </div>
                </div>
            </div>
            <div class="wrap-input validate-input">
                <textarea class="input" name="message" placeholder="Message" formControlName="message">
                </textarea>
                <span class="shadow-input"></span>
                <div *ngIf="message!.invalid && (message!.dirty || message!.touched || emailFormSubmitted)"
                    class="fs-6 text-danger ps-4">
                    <div *ngIf="message!.errors?.['required']">Name is required.</div>
                    <div *ngIf="message!.errors?.['minlength']">
                        Subject must be at least 4 characters long.
                    </div>
                    <div *ngIf="message!.errors?.['maxlength']">
                        Subject must be at least 1000 characters long.
                    </div>
                </div>
            </div>
            <div class="container-contact-form-btn">
                <button class="contact-form-btn" type="submit">
                    <span>
                        Send Email
                        <fa-icon *ngIf="!emailFormSending" [icon]="['fas', 'long-arrow-right']" size="lg"></fa-icon>
                        <fa-icon *ngIf="emailFormSending" [icon]="['fas', 'circle-notch']" [spin]="true"
                            size="lg"></fa-icon>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>