<div class="main-content">
    <div class="container-fluid">
        <div class="row d-1050 pe-4">
            <img class="info-image" src="assets/images/me.jpg">
            <button class="cv-btn mt-2 contact-button">Download CV</button>
            <div class="w-100 mt-5 text-start">
                <a href="https://visitcount.itsvg.in" class="mt-5">
                    <img
                        src="https://visitcount.itsvg.in/api?id=Olerksandr&label=Profile%20Views&icon=6&pretty=false" />
                </a>
            </div>
        </div>
        <div class="row pe-4 ps-xl-5 ps-md-5 mt-md-5">
            <div class="col-4 d-1050-none">
                <img class="info-image" src="assets/images/me.jpg">
                <button class="cv-btn mt-2 contact-button">Download CV</button>
                <div class="w-100 mt-1 text-center">
                    <a href="https://visitcount.itsvg.in" class="mt-5">
                        <img
                            src="https://visitcount.itsvg.in/api?id=Olerksandr&label=Profile%20Views&icon=6&pretty=false" />
                    </a>
                </div>
            </div>
            <div class="col">
                <small>ASP.NET/Fullstack developer <a [routerLink]="['/contact']"
                        class="badge bg-primary text-decoration-none ms-1">Contact me</a></small>
                <h1>Oleksandr Lohvinov</h1>

                <p class="info-text mt-4">I am a full-stack developer specializing in backend development with .NET
                    technologies. I have expertise in optimizing SQL queries using tools like SQL Profiler and SQL
                    Tuning Advisor. On the frontend, I have experience with Angular and Aurelia frameworks. I have
                    worked on maintaining, debugging, and adding new features to projects, including integrating payment
                    systems like Stripe and implementing Google Captcha. In my personal projects, I have used RDP to
                    enable browser clients to interact with desktop applications and utilized SignalR and Media Kurento
                    Server for setting up streaming servers with video recording capabilities.</p>
            </div>
            <hr />
        </div>
        <div class="row pe-4 ps-xl-5 ps-md-5">
            <div class="col">
                <h2>Skills</h2>
                <p>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">C#</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">.Net Core</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">ASP.NET</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">.Net Framework</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">SignalR</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">MSSQL</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">AWS</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">Docker</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">Angular</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">Git</span>
                    <span class="badge rounded-pill bg-secondary m-1 fs-6">Aurelia</span>
                </p>
            </div>
            <hr />
        </div>
        <div class="row pe-4 ps-xl-5 ps-md-5">
            <div class="col">
                <h2>Languages</h2>
                <p>
                    <span class="badge rounded-pill bg-success m-1 fs-6">English(B2)</span>
                    <span class="badge rounded-pill bg-success m-1 fs-6">German(B1)</span>
                </p>
            </div>
            <hr />
        </div>
        <div class="row pe-4 ps-xl-5 ps-md-5">
            <div class="col">
                <h2>Hobbies</h2>
                <p>
                    <span class="badge rounded-pill bg-light m-1 fs-6" style="color: #949494;">Swimming</span>
                    <span class="badge rounded-pill bg-light m-1 fs-6" style="color: #949494;">Reading science fiction
                        books </span>
                    <span class="badge rounded-pill bg-light m-1 fs-6" style="color: #949494;">Aquiring new
                        skills</span>
                    <span class="badge rounded-pill bg-light m-1 fs-6" style="color: #949494;">Learning new
                        technologies</span>
                </p>
            </div>
            <hr />
        </div>
    </div>
</div>