<div class="main-content">
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col-4 d-1050-none">
                <img class="info-image" src="../assets/images/me.jpg">
            </div>
            <div class="col">
                <h1>Oleksandr Lohvinov</h1>
                <h3>ASP.NET/Fullstack developer</h3>
                <p class="info-text mt-4">I am a full-stack developer specializing in backend development with .NET
                    technologies. I have expertise in optimizing SQL queries using tools like SQL Profiler and SQL
                    Tuning Advisor. On the frontend, I have experience with Angular and Aurelia frameworks. I have
                    worked on maintaining, debugging, and adding new features to projects, including integrating payment
                    systems like Stripe and implementing Google Captcha. In my personal projects, I have used RDP to
                    enable browser clients to interact with desktop applications and utilized SignalR and Media Kurento
                    Server for setting up streaming servers with video recording capabilities.</p>
            </div>
        </div>
    </div>
</div>