.project-background {
    position: relative;
    z-index: 2;
}

.project-description {
    text-align: justify;
    font-size: 1.3rem;
}

.responsibility-list {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}

@media (max-width: 425px) {
    .responsibility-list {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }
}