<div class="main-content">
    <div class="container-fluid">
        <div class="row pe-4 ps-xl-5 ps-md-5 mt-5">
            <h1 class="ps-0">Portfolio</h1>
            <a href="https://github.com/AlexandrFirst" class="link-secondary ps-0"><fa-icon [icon]="['fab', 'github']"
                    class="me-2"></fa-icon>https://github.com/AlexandrFirst</a>
            <h2 class="my-4 ps-0">Projects</h2>
            <div class="project-background row">
                <div class="col-xxl-3 ps-0">
                    <h3 class="project-name">
                        <a href="https://github.com/AlexandrFirst/ESport" target="_blank"> ESport</a>
                    </h3>
                </div>
                <div class="col-xxl-9 col-12">
                    <div class="row">
                        <p class="project-description ps-md-1">This project focuses on the efficient management of
                            sports, specifically handling sport events, timetables, and related tasks. In addition to
                            its core functionalities,
                            the system offers advanced features for live streaming and recording of sport events. I was
                            responsible
                            for designing the databases and the overall architecture of the backend system.
                            Additionally, I
                            developed the video streaming functionality, which included implementing one-to-many video
                            conferences and stream recording. This was achieved by utilizing Kurento Media Server.
                        </p>
                    </div>
                    <div class="row">
                        <h5 class="m-0 p-0 pb-3">Responsibilities</h5>
                        <ul class="responsibility-list">
                            <li>Implementing streaming functionality</li>
                            <li>Implementing timetable feature</li>
                            <li>Designing database</li>
                            <li>Setting up CI/CD with infrastructure for deploy</li>
                            <li>Setting up testing environment</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5 class="m-0 p-0 pb-3">Technologies</h5>
                        <p class="m-0 p-0 pb-3">
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">C#</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">.Net Core</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">ASP.NET</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">.Net Framework</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Entity Framework</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">SignalR</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">MSSQL</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Docker</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Angular</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Git</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Kurento Media Server</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Ocelot</span>
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="project-background row">
                <div class="col-xxl-3 ps-0">
                    <h3 class="project-name">
                        <a href="https://github.com/AlexandrFirst/LearningPortal" target="_blank">Education portal</a>
                    </h3>
                </div>
                <div class="col-xxl-9 col-12">
                    <div class="row">
                        <p class="project-description ps-md-1">The project was created as an information portal for
                            teachers at my university. It provides functionality for publishing different types of
                            information (e.g. video, pdf, word),
                            creating quizzes for students, and interacting with the desktop application (implemented
                            using rdp protocol via A21Connect).
                        </p>
                    </div>
                    <div class="row">
                        <h5 class="m-0 p-0 pb-3">Responsibilities</h5>
                        <ul class="responsibility-list">
                            <li>Developing the backend</li>
                            <li>Designing database</li>
                            <li>Providing demo functionality for desktop apps using RDP protocol</li>
                            <li>Setting up CI/CD</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5 class="m-0 p-0 pb-3">Technologies</h5>
                        <p class="m-0 p-0 pb-3">
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">C#</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">ASP.NET</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">.Net Framework</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Entity Framework</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">MSSQL</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Docker</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Git</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">A21Connect</span>
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="project-background row">
                <div class="col-xxl-3 ps-0">
                    <h3 class="project-name">
                        <a href="https://github.com/AlexandrFirst/FireSaver" target="_blank">FireSaver</a>
                    </h3>
                </div>
                <div class="col-xxl-9 col-12">
                    <div class="row">
                        <p class="project-description ps-md-1">The goal of this project is to develop an evacuation
                            system for buildings in case of fire or air strike alerts.
                        </p>
                    </div>
                    <div class="row">
                        <h5 class="m-0 p-0 pb-3">Responsibilities</h5>
                        <ul class="responsibility-list">
                            <li>Developing the backend</li>
                            <li>Designing database</li>
                            <li>Developing mobile application</li>
                            <li>Creating building evacuation feature</li>
                            <li>Integrating IoT device into system for the fire and smoke detection</li>
                            <li>Designing and creating frontend for managing evacuation system</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5 class="m-0 p-0 pb-3">Technologies</h5>
                        <p class="m-0 p-0 pb-3">
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">C#</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">ASP.NET</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">.Net Framework</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">MSSQL</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">MQTT</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">SignalR</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Angular</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">C++</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Esp8266</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Xamarin</span>
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="project-background row">
                <div class="col-xxl-3 ps-0">
                    <h3 class="project-name">
                        <a href="https://github.com/AlexandrFirst/Attractionteka" target="_blank">Attractionteka</a>
                    </h3>
                </div>
                <div class="col-xxl-9 col-12">
                    <div class="row">
                        <p class="project-description ps-md-1">The aim of the project is to provide tourists with the
                            functionality to obtain information about the attractions of the current city
                        </p>
                    </div>
                    <div class="row">
                        <h5 class="m-0 p-0 pb-3">Responsibilities</h5>
                        <ul class="responsibility-list">
                            <li>Developing the backend</li>
                            <li>Designing database</li>
                            <li>Creating comments and place search features</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h5 class="m-0 p-0 pb-3">Technologies</h5>
                        <p class="m-0 p-0 pb-3">
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">C#</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">ASP.NET</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Entity Framework</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">MSSQL</span>
                            <span class="badge rounded-pill bg-secondary m-1 fs-6">Cloudinary</span>
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>