<p>I am a full-stack developer. My focus is on the backend. My main stack is based on .net technologies and relational
    databases such as SQL Server and Oracle. As part of my work I have experience in optimising SQL queries using tools
    such as SQL Profiler and SQL Tuning Advisor. I also have experience with Angular and Aurelia front-end frameworks.
    In terms of work experience, As well as maintaing old functionality I am capable of fixing bugs and adding new
    features to projects such as integrating a payment system like Stripe and Google Captcha. For some of my pet
    projects, I have used the RDP protocol to allow browser clients to interact with desktop applications hosted on a
    Windows machine server. (For this purpose, I used the A21Connect application). In addition, I have been practising
    using SignalR and Media Kurrento Server to set up a streaming server with a one-to-many conferencing format. Media
    Kurrento Server was used to set up video recording in addition to streaming.</p>