<div class="main-content">
  <div class="container-fluid">
    <div class="row pe-4 ps-xl-5 ps-md-5 pt-5">
      <div class="col">
        <h1>Experience</h1>
        <ul class="timeline mt-4" type="none">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail"> 2023 June 27 - today</p>
              <h3 class="fw-bold">bArt Solutions <a href="https://bart-solutions.com/" class="fs-6 fw-lighter"
                  style="color: #b9b9b9; text-decoration: none;">bart-solutions.com</a></h3>
              <h4>.Net/Fullstack developer</h4>
              <p style="text-align: justify;">I have a project related to skin care. My responsibilities include
                developing and implementing new features such as a payment system, barcode reader and barcode search
                system. In
                addition, I have to maintain old functionality and write e2e and unit tests. I've been asked to
                integrate google captcha V3 to secure the site. On the technology side, it's asp.net for the
                backend; the payment system is implemented using stripe, the base for the barcode lookup engine barcode
                lookup api. The front-end is written using asp net mvc and aurelia framework.
                For testing we use NUnit and the Playwright library.</p>
              <h5>Technologies</h5>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>C#</small></span>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>Stripe</small></span>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>ASP.NET</small></span>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>Aurelia</small></span>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>Google Captcha V3</small></span>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>MSSQL</small></span>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>Entity Framework</small></span>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>NUnit</small></span>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"><small>Playwright</small></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row pe-4 ps-xl-5 ps-md-5">
      <div class="col">
        <h1>Education</h1>
        <ul class="timeline mt-4" type="none">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail"> <span class="unwrapable">2019 September 1</span> - <span
                  class="unwrapable">2023 June 26</span></p>
              <h3 class="fw-bold">National University of Kharkiv<a href="https://nure.ua/en/" class="fs-6 fw-lighter"
                  style="color: #b9b9b9; text-decoration: none;"> nure.ua</a></h3>
              <p>Bachelor, Computer Science Program Engineering</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row pe-4 ps-xl-5 ps-md-5">
      <div class="col">
        <h1>Volunteer</h1>
        <ul class="timeline mt-4" type="none">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail"> <span class="unwrapable">2019 March 31</span></p>
              <h3 class="fw-bold">Freelance Interpreter</h3>
              <h4>Silba - Initiative for Dialogue and Democracy</h4>
              On Sunday, 31 March 2019, I worked as an interpreter for an official delegation of international election
              observers from the Danish NGO "SILBA" during the Ukrainian presidential elections in Sloviansk. I was able
              to quickly translate conversations with polling station officials, police officers and military personnel.
              I was able to explain the situation in the polling stations in a very clear and precise way. As a result,
              the observers were able to achieve their goals of verification of the voting process at a number of
              polling stations.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row pe-4 ps-xl-5 ps-md-5 pb-5">
      <div class="col">
        <hr>
        <h1>Certificates</h1>
        <div class="row mt-2">
          <h3>ASP.NET Core Identity - <span class="unwrapable">User Security Essentials</span></h3>
          <small><span>Udemy</span><span> Feb 2022</span></small>
          <a href="https://www.udemy.com/certificate/UC-5a792585-4b15-4b44-9d4f-0159216b0568/" class="link-secondary">https://www.udemy.com/certificate/UC-5a792585-4b15-4b44-9d4f-0159216b0568/</a>
        </div>
        <div class="row mt-3">
          <h3>Angular (Basic)</h3>
          <small><span>Hackerrank</span><span> Jul 2021</span></small>
          <a href="https://www.hackerrank.com/certificates/1e6db3be66c0" class="link-secondary">https://www.hackerrank.com/certificates/1e6db3be66c0</a>
        </div>
        <div class="row mt-3">
          <h3>Problem Solving (Intermediate) Certificate</h3>
          <small><span>Hackerrank</span><span> Sep 2020</span></small>
          <a href="https://www.hackerrank.com/certificates/c7f1dd45f5fd" class="link-secondary">https://www.hackerrank.com/certificates/c7f1dd45f5fd</a>
        </div>
      </div>
    </div>
  </div>
</div>