<div class="main-content">
  <div class="container-fluid">
    <div class="row pe-4 ps-xl-5 ps-md-5 pt-5">
      <div class="col">
        <h1>Experience</h1>
        <ul class="timeline mt-4" type="none">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">June 2021 - August 2023</p>
              <h3 class="fw-bold">
                bArt Solutions
                <a
                  href="https://bart-solutions.com/"
                  class="fs-6 fw-lighter"
                  style="color: #b9b9b9; text-decoration: none"
                  >bart-solutions.com</a
                >
              </h3>
              <h4>ASP.NET/CRM D365 Developer</h4>
              <p style="text-align: justify" class="my-0">
                I was involved in a project aimed at optimizing doctors'
                workflows, including scheduling patient appointments, managing
                schedules, recording prescriptions and treatment histories. The
                system was built on the Dynamics 365 platform, and we used React
                and jQuery libraries for client-side customization.
              </p>
              <h5 class="m-0 p-0 pb-3">Responsibilities</h5>
              <ul class="responsibility-list px-0">
                <li>Developing new plugins for the CRM</li>
                <li>Maintaining and enhancing old functionality</li>
                <li>Creating new UI components</li>
                <li>Writing test for new functionality</li>
              </ul>
              <h5 class="mt-3">Technologies</h5>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>ASP.NET</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>C#</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>D365</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>FetchXML</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>JQuery</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>React</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>NUnit</small></span
              >
            </div>
          </li>
        </ul>
        <ul class="timeline mt-4" type="none">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">June 2021 - August 2023</p>
              <h3 class="fw-bold">
                bArt Solutions
                <a
                  href="https://bart-solutions.com/"
                  class="fs-6 fw-lighter"
                  style="color: #b9b9b9; text-decoration: none"
                  >bart-solutions.com</a
                >
              </h3>
              <h4>.Net/Fullstack developer</h4>
              <p style="text-align: justify" class="my-0">
                I contributed to a skincare system that automatically identifies
                skin issues and offers treatment recommendations, along with
                links to purchase medicines. The platform provides robust admin
                tools and scrapers to ensure updated information on healing
                methods and available medications.
              </p>
              <h5 class="m-0 p-0 pb-3">Responsibilities</h5>
              <ul class="responsibility-list px-0">
                <li>
                  Integration of product barcode scraper using
                  <a href="https://www.barcodelookup.com/api" target="_blank"
                    >BarcodeLookup API</a
                  >
                </li>
                <li>Development of a custom background job system</li>
                <li>
                  Implementing advanced filtration system for application admin
                  side
                </li>
                <li>Integrating new services using GraphQL</li>
                <li>
                  Provision of a payment system for the client application using
                  <a href="https://stripe.com/" target="_blank">Stripe</a>
                </li>
                <li>
                  Creation of an adaptive and user-friendly interface for the
                  client-side application using Angular
                </li>
                <li>Optimization of SQL query performance</li>
                <li>
                  Integration of
                  <a
                    href="https://developers.google.com/recaptcha"
                    target="_blank"
                    >reCAPTCHA v3</a
                  >
                </li>
              </ul>
              <h5 class="mt-3">Technologies</h5>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>C#</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Stripe</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>ASP.NET</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Azure Functions</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Angular</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Google Captcha V3</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Entity Framework</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>MSSQL</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>GraphQL</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Entity Framework</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>NUnit</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Playwright</small></span
              >
            </div>
          </li>
        </ul>
        <ul class="timeline mt-4" type="none">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">August 2023 - today</p>
              <h3 class="fw-bold">
                bArt Solutions
                <a
                  href="https://bart-solutions.com/"
                  class="fs-6 fw-lighter"
                  style="color: #b9b9b9; text-decoration: none"
                  >bart-solutions.com</a
                >
              </h3>
              <h4>.Net/Unity3D developer</h4>
              <p style="text-align: justify" class="my-0">
                I am involved in a three-in-a-row mobile game project developed
                using Unity3D technology.
              </p>
              <h5 class="m-0 p-0 pb-3">Responsibilities</h5>
              <ul class="responsibility-list px-0">
                <li>
                  Develop and integrate the "Teams" feature, enabling player
                  interaction through chat and leaderboard functionalities
                </li>
                <li>Design and implement animations within the game</li>
                <li>Implement backend support for the "Teams" feature</li>
                <li>Create reports using the PowerBI platform</li>
                <li>Optimize and enhance existing game functionalities</li>
              </ul>
              <h5 class="mt-3">Technologies</h5>
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>C#</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>ASP.NET</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Azure Functions</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Cosmos Db</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Azure Queue Storage</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Unity 3D</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>PowerBI</small></span
              >
              <span class="badge rounded-pill bg-secondary m-1 fs-6 fw-light"
                ><small>Azure Cache for Redis</small></span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row pe-4 ps-xl-5 ps-md-5">
      <div class="col">
        <h1>Education</h1>
        <ul class="timeline mt-4" type="none">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">
                <span class="unwrapable">September 2019</span> -
                <span class="unwrapable">June 2023</span>
              </p>
              <h3 class="fw-bold">
                National University of Kharkiv<a
                  href="https://nure.ua/en/"
                  class="fs-6 fw-lighter"
                  style="color: #b9b9b9; text-decoration: none"
                >
                  nure.ua</a
                >
              </h3>
              <p>Bachelor, Computer Science Program Engineering</p>
            </div>
          </li>
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">
                <span class="unwrapable">September 2023</span> -
                <span class="unwrapable">June 2025</span>
              </p>
              <h3 class="fw-bold">
                National University of Kharkiv<a
                  href="https://nure.ua/en/"
                  class="fs-6 fw-lighter"
                  style="color: #b9b9b9; text-decoration: none"
                >
                  nure.ua</a
                >
              </h3>
              <p>Master, Computer Science Program Engineering</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row pe-4 ps-xl-5 ps-md-5 pb-5">
      <div class="col">
        <hr />
        <h1>Certificates</h1>
        <div class="row mt-2">
          <h3>Microsoft Azure for .NET Developers</h3>
          <small><span>Udemy</span><span> Dec 2023</span></small>
          <a
            href="https://ua.udemy.com/certificate/UC-d55f2b9a-dd4a-4004-88b9-f6e2c53e514f/"
            class="link-secondary"
            >https://ua.udemy.com/certificate/UC-d55f2b9a-dd4a-4004-88b9-f6e2c53e514f/</a
          >
        </div>
        <div class="row mt-2">
          <h3>Ultimate AWS Certified Developer Associate 2023 NEW DVA-C02</h3>
          <small><span>Udemy</span><span> Nov 2023</span></small>
          <a
            href="https://www.udemy.com/certificate/UC-050a6cf0-fd2c-4ad4-849f-59cda9ed9c39/"
            class="link-secondary"
            >https://www.udemy.com/certificate/UC-050a6cf0-fd2c-4ad4-849f-59cda9ed9c39/</a
          >
        </div>
        <div class="row mt-2">
          <h3>
            ASP.NET Core Identity -
            <span class="unwrapable">User Security Essentials</span>
          </h3>
          <small><span>Udemy</span><span> Feb 2022</span></small>
          <a
            href="https://www.udemy.com/certificate/UC-5a792585-4b15-4b44-9d4f-0159216b0568/"
            class="link-secondary"
            >https://www.udemy.com/certificate/UC-5a792585-4b15-4b44-9d4f-0159216b0568/</a
          >
        </div>
        <div class="row mt-3">
          <h3>Angular (Basic)</h3>
          <small><span>Hackerrank</span><span> Jul 2021</span></small>
          <a
            href="https://www.hackerrank.com/certificates/1e6db3be66c0"
            class="link-secondary"
            >https://www.hackerrank.com/certificates/1e6db3be66c0</a
          >
        </div>
        <div class="row mt-3">
          <h3>Problem Solving (Intermediate) Certificate</h3>
          <small><span>Hackerrank</span><span> Sep 2020</span></small>
          <a
            href="https://www.hackerrank.com/certificates/c7f1dd45f5fd"
            class="link-secondary"
            >https://www.hackerrank.com/certificates/c7f1dd45f5fd</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
